// ==================================
// MAJOR BREAKPOINTS
// ==================================

$breakpoints: (
	x-small: 25em, // 400px // Mobile
	small: 36em, // 576px
	medium: 48em, // 750px // Tablet
	large: 62em, // 992px // Desktop
	x-large: 75em // 1200px
);

// ==================================
// TWEAKPOINTS
// ==================================

$tweakpoints: ();
