// COLORS
// -------------------------------------------------------

$charcoal: #0e0e0e;     	// Top search bar
$lightCharcoal: #3b3b3a;
$darkBrown: #1e0f0b;    	 //  Title bar background
$gold: #f3c777;				//  Active nav tab
$white: #ffffff;
$black: #000000;
$veryLightGrey: #ebebeb;	// Search magnifying color 
$darkGrey: #8a8a8a;			// Footer text 
$offWhite: #f9f9f9;			// Header text
$medBrown: #3c251b;			// Bottom nav on banner 


// Nav bar

$accentBlue: #0079c8; 	      // bright blue
$accentGreen: #6ca24e;		  // green
$accentRed: #c23b47; 		 // red
$active: #022447; 			// dark blue
$background: #f1f4f7; 		// light grey
$lightBlue: #bdd5ea;		// light blue 
$yammer: #3b98d5;			// yammer blue 
$darkGreen: #00a756;
$turqAccent: #008c99;
$turqDark: #056E77;

$darkPurple: #9176a9;
$lightPurple: #9e3393;

$twitter: #55acee;
$facebook: #3B5998;
$youtube: #e52d27;
$linkedin: #007bb6;

$gravel: #A5B6C4;
$blue: #184567;

$boston_blue: #3994A9;
$san_marino: #4960B6;
$golden_tainoi: #FFCA51;
$texas_rose: #FFA751;

$morning_glory: #8DCEDD;
$fountain_blue: #5CAFC3;
















