$base__line:24px;
$base__font-size:16px; // Used for REM mixin
@import "settings/breakpoints";


.row {
	width:100%;
	min-width:293px;
	@extend %clearfix;
	position:relative;
	margin:0;
	padding-bottom:$base__line*2;
}

.container {
	width: 305px;
	min-width:305px;
	margin:0 auto;
	padding-left:$base__line/2;
	padding-right:$base__line/2;

  @include breakpoint (x-small){
    width: 340px;
  }

  @include breakpoint(small) {
    width:500px;
  }

	@include breakpoint(medium) {
		width:750px;
	}

	@include breakpoint(large) {
		width:970px;
	}

	@include breakpoint(x-large) {
		width:1170px;
	}
}

.one_half {
	width:100%;
	clear:both;
	float:left;

	@include breakpoint(medium) {
		width:50%;
		clear:none;
		padding-right:$base__line/2;
	}
}

.last_column {

	@include breakpoint(medium) {
		padding-right:0;
		padding-left:$base__line/2;
	}
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}

.col-new-xs-1, .col-new-xs-2, .col-new-xs-3, .col-new-xs-4, .col-new-xs-5, .col-new-xs-6, .col-new-xs-7, .col-new-xs-8, .col-new-xs-9, .col-new-xs-10 {
    float: left;
}

.col-new-xs-1 {
    width: 10%;
}

.col-new-xs-2 {
    width: 20%;
}

.col-new-xs-3 {
    width: 30%;
}

.col-new-xs-4 {
    width: 40%;
}

.col-new-xs-5 {
    width: 50%;
}

.col-new-xs-6 {
    width: 60%;
}

.col-new-xs-7 {
    width: 70%;
}

.col-new-xs-8 {
    width: 80%;
}

.col-new-xs-9 {
    width: 90%;
}

.col-new-xs-10 {
    width: 100%;
}
@media (min-width: 768px) {
    .col-new-sm-1, .col-new-sm-1-5, .col-new-sm-2, .col-new-sm-2-5, .col-new-sm-1-5, .col-new-sm-3, .col-new-sm-4{
        float: left;
    }
    .col-new-sm-1 {
        width: 10%;
    }
    .col-new-sm-1-5 {
        width: 15%;
    }
    .col-new-sm-2 {
        width: 20%;
    }
    .col-new-sm-2-5 {
        width: 25%;
    }
    .col-new-sm-3 {
        width: 30%;
    }
    .col-new-sm-4 {
        width: 40%;
    }
}

@media (min-width: 992px) {
    .col-new-1, .col-new-1-5, .col-new-2, .col-new-3, .col-new-4, .col-new-5, .col-new-6{
        float: left;
    }
    .col-new-1 {
        width: 10%;
    }
    .col-new-1-5 {
        width: 15%;
    }
    .col-new-2 {
        width: 20%;
    }
    .col-new-3 {
        width: 30%;
    }
    .col-new-4 {
        width: 40%;
    }
    .col-new-5 {
        width: 50%;
    }
    .col-new-6 {
        width: 60%;
    }
}

.ms-core-overlay {
    background: transparent !important;
}

#contentRow {
    padding-top: 0px !important;
}

.ms-wikicontent, .ms-rtestate-field {
    padding-right: 0px !important;
}

.ms-fullscreenmode #contentBox {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#contentBox {
    margin-right: 0px !important;
}
.ms-rte-layoutszone-inner{
  border: none !important;
  margin: 0px !important;
}
#s4-bodyContainer{
  padding-bottom: 0px;
}
.ms-webpartzone-cell{
  margin: 0;
}
.ms-rtestate-field p, p.ms-rteElement-P{
  margin: 0px;
}
.ms-rtestate-field h4, h4.ms-rteElement-H4{
  color: $white;
}

