// SPACING - for margin and padding
// -------------------------------------------------------

$spacing: 20px;
$spacing-double: $spacing * 2;
$spacing-half: $spacing / 2;
$spacing-quarter: $spacing / 4;

$gutter: $spacing-half;
