// FONTS
// -------------------------------------------------------
// 

@import "settings/breakpoints";

$base__line: 24px;
$base__font-size: 18px;

// Used for REM mixin
$base__font: "Gotham-Light", "Times New Roman", serif;
$base__font-medium: "Gotham-Medium", "Times New Roman", serif;
$base__font-bold: "Gotham-Bold", arial, sans-serif;
$base__font-fancy: "wolfCity", arial, sans-serif;
$base__font-fancyLight: "wolfCityLight", arial, sans-serif;

h1, h2, h3, h4, h5 {
    line-height: 1;
    font-family: $base__font-medium;
    margin-bottom: $base__line * 1.5;
    margin-top: $base__line * 1.5;
}

h1 {
    @include rem("font-size", $base__font-size * 2.3);
    @include breakpoint(small) {
        @include rem("font-size", $base__font-size * 3);
    }
}

h2 {
    @include rem("font-size", $base__font-size * 1.8);
    @include breakpoint(small) {
        @include rem("font-size", $base__font-size * 2.5);
    }
}

h3 {
    @include rem("font-size", $base__font-size * 1.3);
    @include breakpoint(small) {
        @include rem("font-size", $base__font-size * 2);
    }
}

h4 {
    @include rem("font-size", $base__font-size * 1.1);
    @include breakpoint(small) {
        @include rem("font-size", $base__font-size * 1.5);
    }
}

h5 {
    @include rem("font-size", $base__font-size * 0.9);
    @include breakpoint(small) {
        @include rem("font-size", $base__font-size * 1.25);
    }
}

p, ul, a, ol, li, blockquote, div {
    @include rem("font-size", $base__font-size * 0.8);
    line-height: 1.4;
    font-family: $base__font;
    @include breakpoint(small) {
        @include rem("font-size", $base__font-size);
    }
}

p {}

ul {}

ol {}

li {}

blockquote {}