// Rems with pixel fallback for any property
// @author @BPScott (https://github.com/BPScott/bpscott.github.io/blob/develop/source/stylesheets/vendor/_rem.scss)
@mixin rem($property, $px-values, $baseline-px: $base__font-size) {
	// Convert the baseline into rems
	$baseline-rem: $baseline-px / 1rem;

	// Create an empty list that we can dump values into
	$rem-values: ();
	@each $value in $px-values {
	// If the value is zero, return 0
	$rem-values: append($rem-values, if($value == 0, $value, $value / $baseline-rem));
	}

	// Output the property's px and rem values
	#{$property}: $px-values;
	#{$property}: $rem-values;
}


// Font size mixin to make use of the rem mixin, just making it look a little simpler
@mixin font-size($size) {
	@include rem('font-size', $size * 1px);
}
