
// =============================================================================
//  Fancy Underline
// =============================================================================

@mixin fancy_underline($color: #000000) {
	position: relative;
	overflow: visible;
	text-decoration: none;
	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 0;
		//lower the underline
		margin-top: 0;
		background: transparent;
	}
	&:hover {
		text-decoration: none;
		&:after {
			display: block;
			height: 1px;
			transition: width 0.2s ease, background-color 0.2s ease;
			width: 100%;
			background: $color;
		}
	}
}

// =============================================================================
//  Shimmer - TODO - MAKE TO MIXIN
// =============================================================================

.shimmer {
	display: inline-block;
	background: #659dd7 -webkit-gradient(linear, 100% 0, 0 0, from(#659dd7), color-stop(0.5, #b3d0ee), to(#659dd7));
	background-position: -4rem top; /*50px*/
	background-repeat: no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation-name: shimmer;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: 2;
	-webkit-background-size: 4rem 100%; /*50px*/
}

@-webkit-keyframes shimmer {
    0% {
        background-position: left top; /*50px*/
    }
    70% {
        background-position: 120% top; /*200px*/
    }
    100% {
        background-position: 150% top; /*200px*/
    }
}
