.header {
    background: url("../img/photo1.jpeg");
    min-height: 600px;
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    padding-bottom: 24px;
    background-size: cover;
    background-position: 50%;
}

.title_cont {
    top: 150px;
    width: 80%;
    margin: auto;
    background-color: rgba(24, 69, 103, 0.71);
    display: table;
    position: relative;
    height: 200px;
    @include breakpoint(small) {
        width: 50%;
    }

    h1 {
        font-size: 2.5em;
        color: $gravel;
        text-align: center;
        font-family: 'Gotham-Light';
        text-transform: uppercase;
        vertical-align: middle;
        @include breakpoint(small) {
            font-size: 4em;
        }
    }
    h5 {
        color: $gravel;
        font-size: 0.8em;
        text-transform: uppercase;
        text-align: center;
        font-family: $base__font-medium;
        @include breakpoint(small) {
            font-size: 1em;
        }
    }
}

.info {
    background-color: $gravel;
    height: auto;
    overflow: hidden;
    width: 100%;
    h2 {
        color: $blue;
        text-align: center;
        padding-top: $base__line * 2;
        font-family: $base__font;
    }
    .skillz {
        padding-left: 25%;
        padding-right: 25%;
        h3, h4, h5 {
            color: #190562;
            float: left;
            text-align: center;
            font-family: $base__font-bold;
            padding-left: $base__line * 2;
            padding-top: $base__line * 2;
        }
    }
}