a {
    outline: none;
}

header {
    @include transition(200ms, ease-out, all);
    position: fixed;
    z-index: 2;
    width: 100%;
    background: rgba(31, 129, 152, 0.25);
    height: 75px;
    -webkit-transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    &.active {
        background-color: rgb(31, 129, 152);
    }
    .navigation {
        display: block;
        ul {
            float: right;
            margin-right: 15px;
        }
        .menu {
            display: inline-block;
            float: left;
            a {
                color: $white;
                font-family: $base__font-medium;
                padding: 25px 12px;
                display: inline-block;
                border-bottom: 4px solid rgba(0, 0, 0, 0);
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    ul li {
        list-style-type: none;
    }
    .nav {
        left: 0;
        background: rgba(255, 255, 255, 0.45);
        margin-left: 20px;
        z-index: 1;
    }
    .menu-button {
        width: 35px;
        height: 18px;
        position: absolute;
        margin-top: 20px;
        left: 15px;
        display: none;
        cursor: pointer;
        float: right;
    }
    .social {
        display: none;
        float: right;
        margin-top: 15px;
        margin-right: 5px;
    }
}

.w-banner {
    position: relative;
    height: 150vmin;
    overflow: hidden;
    background-image: url("../img/bkg.jpg");
    background-size: cover;
    @include breakpoint(small) {
        height: 125vmin;
    }

    @include breakpoint(medium) {
        height: 100vmin;
    }

    h3, h4 {
        text-align: center;
        font-family: $base__font;
        position: relative;
        color: $white;
    }
    h1 {
        font-family: $base__font-fancyLight;
        font-weight: 500;
        text-align: center;
        margin-top: 100px;
        font-size: 6em;
        color: #A534F5;
        mix-blend-mode: color-dodge;
        margin-bottom: 0px;
        @include breakpoint(medium) {
            font-size: 10.5em;
            margin-top: 200px;
        }
    }
}

.sidebar {
    border-left: none;
    @include breakpoint(medium) {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.two-columns {
    margin-top: $base__line * 1.25;
}

.blog-full {
    h5 {
        text-transform: uppercase;
        margin-top: 0px;
    }
    .used {
        margin-top: $base__line / 2;
        font-family: $base__font-bold;
        span {
            font-family: $base__font;
        }
    }
}

.follow-me {
    text-align: center;
    a {
        font-size: 2em;
        padding-right: $base__line / 2;
        padding-left: $base__line / 2;
        color: #98A8E2;
        &:hover {
            color: #6A7FCC;
        }
    }
    h3 {
        margin-top: 0px;
    }
}

.about {
    text-align: center;
}

.image img {
    width: 100%;
}

.p-tags {
    text-align: center;
    a {
        @include transition(200ms, ease-out, all);
        color: $white;
        background: $fountain_blue;
        padding: 18px 19px;
        margin-bottom: 15px;
        margin-left: 8px;
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
        float: left;
        text-decoration: none;
        &:hover {
            background-color: $morning_glory;
        }
    }
}

.image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 28px;
    margin-top: $base__line;
    overflow: hidden;
}

.hidden_article {
    display: block;
    color: #3994A9;
    font-family: $base__font-bold;
    @include breakpoint(small) {
        display: none;
    }
}

.article {
    -moz-box-shadow: 0px 0px 18px 0px rgba(153, 168, 184, 0.61);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    -webkit-backface-visibility: hidden;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(153, 168, 184, 0.61);
    -webkit-transform: translate(-50%);
    background: #FFF;
    bottom: 6px;
    box-shadow: 0px 0px 18px 0px rgba(153, 168, 184, 0.61);
    color: #4C4C4C;
    display: none;
    font-size: 14px;
    font-weight: 600;
    left: 50%;
    letter-spacing: 2px;
    opacity: 0.85;
    padding: 18px 43px;
    position: absolute;
    text-transform: uppercase;
    transform: translate(-50%);
    @include breakpoint(small) {
        display: block;
    }

    &:before {
        content: '';
        border-bottom: 56px solid #FFF;
        border-left: 5px solid rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        left: -4px;
    }
    &:after {
        content: '';
        border-bottom: 56px solid #FFF;
        border-right: 5px solid rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        right: -4px;
    }
}

.content {
    text-align: center;
}

.popular {
    .image {
        width: 100px;
        display: inline-block;
        float: left;
        margin-right: 20px;
        margin-bottom: 0;
        img {
            height: 75px;
        }
    }
    .post-tag {
        text-align: left;
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 16px;
        @include breakpoint (small){
            margin-top: 25px;
        }
        a {
            color: #4C4C4C;
            text-decoration: none;
        }
    }
}

.additional-posts {
    .post-block {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        display: inline-block;
        text-align: center;
        margin-bottom: 50px;
        overflow: hidden;
        @include breakpoint(medium) {
            width: 50%;
        }

        .layer {
            @include transition(200ms, ease-out, all);
            position: absolute;
            top: 0px;
            left: 0px;
            height: 98%;
            right: 0px;
            bottom: 0px;
            background: rgba(51, 51, 51, 0);
            cursor: pointer;
            span {
                position: absolute;
                top: 50%;
                left: 0px;
                display: block;
                width: 100%;
                padding: $base__line * 0.75;
                text-align: center;
                font-weight: 600;
                font-size: 14px;
                line-height: 38px;
                color: #FFF;
                letter-spacing: 2px;
                text-transform: uppercase;
                opacity: 0;
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translatey(-50%);
            }
        }
        .grid-title {
            margin: $base__line / 2;
        }
        .image {
            img {
                height: auto;
                @include breakpoint(medium) {
                    height: 300px;
                }
            }
            &:hover {
                .layer {
                    background: rgba(51, 51, 51, 0.7);
                }
                span {
                    opacity: 1;
                }
            }
        }
        h5, p {
            font-family: $base__font;
            margin: 0px;
        }
    }
}

.about_me {
    background-color: #98A8E2;
    h4 {
        margin-top: $base__line / 2;
        font-family: $base__font-fancyLight;
        font-weight: 500;
        font-size: 3em;
        margin-bottom: 0px;
        color: $white;
        @include breakpoint(small) {
            font-size: 5em;
        }
    }
    a {
        color: $black;
    }
}