/*This is main CSS file that contains custom style rules used in this template*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Template Name: NORTH WEST*/
/* Version: 1.0 Initial Release*/
/* Build Date: 05-05-2015*/
/* Author: Volodymyr*/
/* Copyright: (C) 2015 */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/
/* 01 - FONTS */
/* 02 - LOADER */
/* 03 - RESET STYLES */
/* 04 - GLOBAL SETTINGS */
/* 05 - HEADER */
/* 06 - TOP */
/* 07 - BLOG POST FULL SCREEN */
/* 08 - COMMENTS */
/* 09 - POST BLOCK */
/* 10 - ABOUT ME */
/* 11 - SIMILAR POST*/
/* 12 - CONTENT BLOCK */
/* 13 - SIDEBAR */
/* 14 - INSTAGRAM */
/* 15 - FOOTER */
/* CSS ANIMATIONS */
/* CONFIGURATOR */

/*-------------------------------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - FONTS */
/*-------------------------------------------------------------------------------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400);

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - LOADER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
#loader-wrapper{ position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 11; background: #b0becc; } 
.loader-content { position: absolute; text-align: center; width: 100%; left: 0; top: 50%; margin-top: -82px;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: bounceInUp;
	-o-animation-name: bounceInUp;
	-moz-animation-name: bounceInUp;
	animation-name: bounceInUp;
} 
.loader-content .n-title { font-size: 25px;   margin-top: 20px;   color: #4c4c4c;}
.loaded  #loader-wrapper{
	-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) 1s forwards;
	-moz-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) 1s forwards;
	-o-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) 1s forwards;
	animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) 1s forwards;}
.loaded  .w-banner,.loaded  .content{
	-webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) 1s both;
	-moz-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) 1s both;
	-o-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) 1s both;
	animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) 1s both;}

.n-title svg path{fill: none;stroke-width: 6;}
.n-title svg path.ip-loader-circlebg{stroke: #ddd;}
.n-title svg path.ip-loader-circle{
	stroke: #4c4c4c;
	-webkit-animation: animCircus 2s cubic-bezier(0.7,0,0.3,1) 1s both;
	-moz-animation: animCircus 2s cubic-bezier(0.7,0,0.3,1) 1s both;
	-o-animation: animCircus 2s cubic-bezier(0.7,0,0.3,1) 1s both;
	animation: animCircus 2s cubic-bezier(0.7,0,0.3,1) 1s both;
}


	

	
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 03 - RESET STYLES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
body *{-webkit-text-size-adjust:none;}
.clear{clear:both; overflow:hidden; height:0px; font-size:0px; display: block;}
input:focus, select:focus, textarea:focus, button:focus {outline: none;}
a, a:link, a:visited, a:active, a:hover{cursor: pointer; text-decoration: none; outline: none;}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 04 - GLOBAL SETTINGS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
body {
    font-family: "Open Sans";
    color: #4c4c4c;
}
.content,.container-fluid {overflow:hidden;}
.container-fluid{padding-right: 125px;padding-left: 125px;}
@media (max-width: 1300px) {
	.container-fluid{padding-right: 75px;padding-left: 75px;}
}
@media (max-width: 1199px) {
	.container-fluid{padding-right: 50px;padding-left: 50px;}
}
@media (max-width: 991px) {
	.container-fluid{padding-right: 40px;padding-left: 40px;}
}
@media (max-width: 767px){
	.container-fluid{padding-right: 15px;padding-left: 15px;}	
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 05 - HEADER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
header { position: fixed; z-index: 2; width: 100%; background: rgba(255,255,255, 0.85); height: 75px;-webkit-transform: translateZ(0);-webkit-transform: translate3d(0,0,0);} 
nav { left: 0; background: rgba(255,255,255, 0.45); margin-left: 20px; z-index: 1; } 
ul>li { list-style-type: none; } 
nav a { text-transform: uppercase; } 
.menu { display: inline-block; float: left; } 
li.menu>a { color: #4c4c4c; padding: 25px 12px; display: inline-block; border-bottom: 4px solid transparent; opacity: 0.55; } 
li.menu>a:hover { opacity: 1; border-color: #99a8b8; } 
li.active>a { opacity: 1; border-bottom: 4px solid #99a8b8; } 
.menu-button { width: 35px; height: 18px; position: absolute; margin-top: 20px; left: 15px; display: none; cursor: pointer; float: right; } .menu-button span { height: 3px; margin-top: 7px; background: #99a8b8; display: block; position: relative; top: 0; } 
.activity span:nth-child(3) { transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); } 
.activity span:nth-child(1) { top: 10px; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); } 
.activity span:nth-child(2) { display: none; }  
.menu-open { display: none; position: absolute; top: 13px; font-size: 35px;   color: #99a8b8; right: 20px; cursor: pointer; } 
.menu-open .act i{ transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); } 
.dropdown { display:none;background: -moz-linear-gradient(top,  rgba(157,166,177,0.75) 0%, rgba(179,190,202,0.75) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,166,177,0.75)), color-stop(100%,rgba(179,190,202,0.75)));background: -webkit-linear-gradient(top,  rgba(157,166,177,0.75) 0%,rgba(179,190,202,0.75) 100%);background: -o-linear-gradient(top,  rgba(157,166,177,0.75) 0%,rgba(179,190,202,0.75) 100%); background: -ms-linear-gradient(top,  rgba(157,166,177,0.75) 0%,rgba(179,190,202,0.75) 100%);  background: linear-gradient(to bottom,  rgba(157,166,177,0.75) 0%,rgba(179,190,202,0.75) 100%); position: absolute; left: 0; top: 100%; box-shadow: 0 5px 5px rgba(233,233,233, 0.75); width: 100%; opacity: 0;  padding: 0px 22px;} 
.menu ul.dropdown{-moz-transition: none;-o-transition: none;-webkit-transition: none;transition: none;-ms-transition: none;}

.dropdown li { float:left; display: inline-block; } 
.dropdown a { font-size:15px; padding: 15px 9px; display: inline-block; color: #4c4c4c; } 
.dropdown a:hover { color: #fff; } 
.search { position:relative;display: inline-block; float: right; } 
.search input { display: inline-block; float: right; width: 225px; background: rgba(238,242,245, 0.75); padding: 28px 32px; border: none; font-size: 14px; color: #99a8b8; position: relative; text-align: left; } 
.search:hover input { color: #4c4c4c; cursor: pointer; } 
.search .search-submit { position: absolute;width:16px;height:16px; right: 13px; top: 30px;  padding: 3px 3px; opacity: 0.35; background:url(../img/search.png) no-repeat; } 
.search:hover img { opacity: 0.7; cursor: pointer; }
header .social{display:none;float:right;margin-top: 15px;margin-right:5px;}
header .social i{  background: transparent;font-size:23px;}
header .s-button{display:none;}
header .menu-open.act{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}

.w-banner.adminpanel {top: -32px;}

@media (min-width: 992px) {
	.menu:hover .dropdown{display:block;opacity: 1; }
}

@media (max-width: 991px) {
	header .social{display:block;margin-right:85px;}
	header .s-button{display:block;position:absolute;top:0px;left:0px;right:0px;bottom:0px;cursor:pointer;}
	.search {position: absolute;right: 0px;width:70px;overflow:hidden;height:75px;}
	.search input{background:rgba(238, 242, 245, 1)}
	.search-open .search{width:225px;}
	.search-open .search .s-button{display:none;}
	.search .search-submit {width:25px;height:25px; top: 23px; right: 20px; background:url(../img/search-b.png) no-repeat; } 
    .navigation {display: none; position: absolute; top: 75px; margin-top: 0; left:0; width: 100%;}
    .menu-button {display: block}
	.navigation > ul > li{background:#fff;}
    .navigation li {width: 100%; border:none; border-top:2px solid #eef2f5; text-align: center;  float: none;display: block;}
    .navigation li a {opacity: 1; width: 100%; letter-spacing:1px;}
    .navigation li a:hover {color: #4c4c4c; background: rgba(164,166,168, 0.45);}
    nav {margin-left: 0;}
    .menu-open {display: block;}
    li.menu {position: relative;}
    .dropdown {transform: none;}
    .menu:hover .dropdown {transition:none;}
    .dropdown a {background: #99a8b8;}
    .dropdown {position: relative;opacity:1.0;display: none;}
    header {background: #fff;}
    li.active>a {opacity: 1.0; border-color: transparent;}
    li.menu>a:hover {opacity: 1;border-color:transparent;}
}

@media (max-width: 892px) {
	.dropdown{padding: 0px 0px;}
}



@media (max-width: 450px) {
	.search{width:50px;}
	.search .search-submit{right: 9px;}
	header .social{margin-right: 60px;margin-top: 19px;}
	header .social i {padding: 8px 5px 9px;font-size:22px;}
}

@media (max-width: 370px) {
	header .social{margin-top: 20px;}
	header .social i {padding: 8px 4px 9px;font-size:21px;}
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 06 - TOP */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.w-banner { margin-bottom: 95px; position: relative; height: 100vmin; overflow: hidden; background-image: none; }
.w-banner .arrows {background: rgba(255,255,255, 1.0);}
.w-banner .pagination { display: none; } 
.w-banner .swiper-slide { background-size: cover; position: relative;  height: 100vmin; min-height: 900px; background-position: top center; } 
.main-wrapper .center-image{ min-height: 900px; } 
.banner-description { position: absolute; top: 190px; left: 50%; text-align: center; z-index: 1; -moz-transform:translate(-50%);-webkit-transform:translate(-50%);-o-transform:translate(-50%);-ms-transform:translate(-50%);transform: translate(-50%);} 
img.logo { display: inline-block; margin-bottom: 130px; } 
.slise { overflow: hidden; width: 470px; } 
.ban-info{ -moz-transform:skewx(3deg);-webkit-transform:skewx(3deg);-o-transform:skewx(3deg);-ms-transform:skewx(3deg);transform: skewx(3deg); background: rgba(176, 190, 204, 0.7); width: 470px; margin-left: -8px; } 
.borderless .ban-info{-moz-transform:skewx(-0deg);-webkit-transform:skewx(-0deg);-o-transform:skewx(-0deg);-ms-transform:skewx(-0deg);transform: skewx(-0deg);margin-left: 0px;}
.information { text-transform: uppercase; padding: 43px 75px; color: #000; -moz-transform:skewx(-3deg);-webkit-transform:skewx(-3deg);-o-transform:skewx(-3deg);-ms-transform:skewx(-3deg);transform: skewx(-3deg); }
.borderless .information {-moz-transform:skewx(0deg);-webkit-transform:skewx(0deg);-o-transform:skewx(0deg);-ms-transform:skewx(0deg);transform: skewx(0deg);}
.information h5 {
  position: relative;
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 45px;
  overflow: hidden;
}
.information h5 a {color: #FFF;}
.information h3 { color: #FFF; font-size: 38px; margin-bottom: 10px; letter-spacing: 5px; word-spacing: 6px; line-height: 38px; } 
.information p { font-size: 12px; margin-bottom: 52px; color: #fff; } 
.read-article { border: 2px solid #FFF; width: 100%; padding: 13px 0; display: inline-block; color: #FFF; } 
.read-article:hover { color: #000; border-color: #000; } 
.arrows { max-width: 170px; text-align: center; color: #4c4c4c; position: absolute; bottom: 0; left: 50%; background: rgba(255,255,255, 0.65); z-index: 1; -moz-transform:translate(-50%);-webkit-transform:translate(-50%);-o-transform:translate(-50%);-ms-transform:translate(-50%);transform: translate(-50%);} 
.information h5 a {position: relative; display: inline-block;}
.information h5 a:before { content: ''; border:1px solid #FFF; width: 400%; position: absolute; left: -400%; top: 9px; margin-left: -10px;}
.information h5 a:after { content: ''; border:1px solid #FFF; width: 400%; position: absolute; right: -400%; top: 9px; margin-right: -10px;}
.arrows:before { content: '';position: absolute; top:0; left: -4px;display:block;width:5px;height:47px;background:url(../img/slider-btn-l.png) no-repeat;} 
.arrows:after {  content: '';position: absolute; top:0; right: -4px;display:block;width:5px;height:47px;background:url(../img/slider-btn-r.png) no-repeat;} 
.arrows div { display: inline-block; float: left; padding: 10px 0 6px; cursor: pointer; } 
.arrow-left p { border-right: 2px solid #4c4c4c; } 
.arrows p { padding: 0 25px; font-weight: 600;  opacity: 0.7; } 
.arrows p:hover { color: #000; opacity: 1; }
@media (max-width: 991px) {
	.w-banner .swiper-slide:after {content:'';background: rgba(0, 0, 0, 0.65);width: 100%;height: 100%;position: absolute;left: 0;top:0;}
}
@media (max-width: 767px){
    .w-banner {height: 450px; margin-bottom: 50px;}
    .main-wrapper .center-image {min-height: 450px;}
    .w-banner .swiper-slide {min-height: 450px;}
    .banner-description {top:90px;}
    img.logo {margin-bottom: 30px; max-width: 50%;}
    .slise {width: 300px; display: inline-block;}
    .ban-info {width: 300px;}
    .information {padding: 15px;}
    .information h5 {margin-bottom: 20px;}
    .information p {margin-bottom: 20px;}
    .arrows div {max-width: 49%;}
}
@media (min-width: 992px) {
.navigation {display: block !important}
} 

.w-banner.style-2{height:auto;}
.w-banner.style-2 .arrows{display:none;}
.w-banner.style-2 .swiper-slide{min-height: 800px;}



/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 07 - BLOG POST FULL SCREEN */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.content { text-align: left; margin-bottom: 100px; } 
.blog-full { text-align: left; overflow: hidden; }
.blog-full + .additional-posts{margin-top:45px;}
.blog-full + .blog-full{margin-top:45px;}
.blog-full .video{margin-bottom: 28px;} 
.blog-full .article{-webkit-box-shadow: 0px 0px 18px 0px rgba(153, 168, 184, 0.61);-moz-box-shadow:0px 0px 18px 0px rgba(153, 168, 184, 0.61);box-shadow: 0px 0px 18px 0px rgba(153, 168, 184, 0.61);-webkit-backface-visibility: hidden;} 
.post-tag{ text-transform: uppercase; text-align: center; font-size: 13px; margin-bottom: 10px; font-weight: 600;  letter-spacing: 3px; line-height: 16px; }
.title { text-transform: uppercase; text-align: center; font-size: 38px; margin-bottom: 15px; line-height: 38px; font-weight: 600;  letter-spacing: 8px; } 
.full-p {text-align: center; color: #99a8b8; font-size: 10px; margin-bottom: 65px; text-transform: uppercase;  } 
.image { background-repeat: no-repeat; background-size: cover; background-position: center center;    position: relative; margin-bottom: 28px; overflow: hidden; }
.image:after { content: ''; background: #fff; width: 26px; right: -16px; top: 0; height: 100%; position: absolute; -moz-transform: skewx(2deg); -ms-transform: skewx(2deg); -webkit-transform: skewx(2deg);-o-transform: skewx(2deg); transform: skewx(2deg); } 
.borderless .image:after {display:none;}
.image .center-image { width: 100%; height: auto; } 
.article { position: absolute; bottom:0; left: 50%; font-size: 14px; font-weight: 600;  text-transform: uppercase; background: #fff; padding: 18px 43px; color: #4c4c4c; letter-spacing: 2px; opacity: 0.85; -moz-transform:translate(-50%);-webkit-transform:translate(-50%);-o-transform:translate(-50%);-ms-transform:translate(-50%);transform: translate(-50%);} 
.article:hover { color: #000; opacity: 1; } 
.article:before { content: ''; border-bottom: 56px solid #fff; border-left: 5px solid transparent; position: absolute; top:0; left: -4px; } 
.article:after { content: ''; border-bottom: 56px solid #fff; border-right: 5px solid transparent; position: absolute; top:0; right: -4px; } 
@media (max-width: 768px){
    .article {padding: 18px 12px;}
}
@media (min-width: 1000px){
	.blog-full .image:after{width: 26px;right: -13px;}
}

@media (min-width: 1000px){
	.blog-full.fullwidth .image:after{width: 40px;right: -20px;}
}



/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 08 - COMMENTS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.comments-block{margin-bottom:50px;}
.comment { border-bottom: 1px dashed #9f9f9f; margin-bottom: 22px; } 
.comment h3{font-weight: 600; font-size:38px;letter-spacing: 5px;text-transform:uppercase;text-align:center;margin-bottom:45px;}
.comments { color: #99a8b8; font-size: 16px; display: inline-block; float: left; }  
.comments p { font-weight:300;margin-left: 2px; margin-top: 12px; } 
.comments i { margin-right: 10px; color: #99a8b8;} 
.share { color: #99a8b8; font-size: 16px; display: inline-block; float: right; margin-bottom: 22px; margin-right: 5px; } 
.share p { font-weight:300;display: inline-block; position: relative; top: -3px;} 
.social { font-size: 20px; display: inline-block; }
.social i {text-align: center; padding: 13px 12px 13px;margin-left: 3px;background: #ccd3db;font-size: 24px; }
.social a { color: #ccd3db; position: relative;}
.social i:hover { color: #4C4C4C; cursor: pointer; }
.comment .social i:hover {color: #4C4C4C; cursor: pointer;}
.share i::after { content: ''; display: block;height: 100%;width: 0px; border-bottom: 50px solid #ccd3db; border-right: 4px solid transparent; border-top:0px;border-left:0px; position: absolute; top:0; left: 100%; }
.borderless .share a:after{display:none;}
.comment .reply-block .reply{position:relative;text-align: left;}
.comment .reply-block .reply-block {padding-left:140px;}
.comment .reply .image{width:130px;float:left;margin-right:15px;}
.comment .reply-title{font-weight: 600; font-size:18px;line-height:23px;letter-spacing:1px;text-transform:uppercase;}
.comment .reply-date{font-weight: 300; font-size:14px;line-height:23px;color:#99a8b8;line-height:23px;letter-spacing:1px;margin-bottom:3px;}
.comment .reply-text{font-weight: 300; font-size:14px;line-height:30px;line-height:23px;margin-bottom:25px;}
.comment .reply-link{position:absolute;top:0px;right:0px;font-weight: 600; font-size:14px;color:#99a8b8;}
.comment .reply-link:hover{color: #4c4c4c;}
.comment .social{margin-left:5px;}
.comment .null-comments{font-weight: 600; font-size:14px;color:#b0becc;padding: 15px 0px;background:#f7f7f7;text-transform:uppercase;margin-bottom:100px;}
.comment .social i{position: relative; font-size: 27px;padding: 0px;width: 50px;height: 50px;line-height: 50px; color: #99a8b8;}
@media (max-width: 768px){
	.comment h3{font-size: 30px;}
}
@media (max-width: 991px) {
    .comments {display: block; margin-bottom: 15px;}
} 

@media (max-width: 768px){
    .share i {margin-bottom: 10px;}
	.comment .reply-block .reply-block {padding-left:0px;}
	.comment .reply-block .reply{margin-bottom:25px;}
	.comment .reply-link{top:auto;bottom:0px;}
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 09 - POST BLOCK */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.additional-posts{margin-right: -15px;margin-left: -15px;}
.additional-posts .post-block {width: 50%;padding-right: 15px;padding-left: 15px;}
.additional-posts .iamge{  margin-bottom: 42px;}
.additional-posts .title{font-size: 35px;line-height: 35px;}

.list-layout.additional-posts{margin-left:0px;margin-right:0px;}
.list-layout .post-block{margin-bottom: 1px;}
.list-layout .post-left .post-block.post-info{position: relative;left: 50%;}
.list-layout .post-left .post-block{position: relative;right: 50%;}
.list-layout .post-left, .list-layout .post-right{position:relative;margin-bottom: 100px;}
.background-block{position: absolute;top: 0px;bottom: 0px;left: 0px;right: 0px;width: 49%;height: 100%;}
.list-layout .post-right .background-block{left: auto;right:0px;}
.list-layout .post-right .image:after{left:-16px;-moz-transform: skewx(-2deg); -ms-transform: skewx(-2deg); -webkit-transform: skewx(-2deg);-o-transform: skewx(-2deg); transform: skewx(-2deg);}
.post-block {float: left; display: inline-block; text-align: center; margin-bottom: 100px; overflow: hidden; }
.post-block .layer{position:absolute;top:0px;left:0px;right:0px;bottom:0px;background:rgba(51, 51, 51, 0);cursor:pointer;}
.post-block .layer span{position:absolute;top:50%;left:0px;display:block;width:100%;text-align:center;font-weight: 600; font-size:14px;line-height:38px;color:#fff;letter-spacing: 2px;text-transform:uppercase;opacity:0; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%);-o-transform: translateY(-50%); transform: translatey(-50%);}
.post-block .image img{width: 100%;}
.post-block .image:hover .layer{background:rgba(51, 51, 51, 0.5);}
.post-block .image:hover span{opacity:1;}
.post-block .post-tag{margin-bottom: 0px;}
.post-block .title{margin-bottom: 0px;}
.additional-posts .post-info .title {margin-bottom: 0px; padding-bottom: 15px;}
.post-block .full-p {margin-bottom: 0; }
.post-info .post-tag{margin-bottom:15px;}
.post-info .title{margin-bottom:20px;}
.post-info .full-p{margin-bottom:25px; font-size: 12px;}
.post-info .post-desc{font-weight: 300; font-size:18px;line-height:32px; margin-bottom: 25px;}
.post-info .post-link{font-weight: 600; color:#99a8b8;}
.post-info .post-link:hover{color:#4c4c4c;}
a.older-post { color: #4c4c4c; padding: 15px 95px; border: 2px solid #99a8b8; text-transform: uppercase; letter-spacing: 2px; font-weight: 600;  margin: 0 auto; margin-bottom: 100px; display: inline-block; opacity: 0.65; }  
a.older-post:hover { opacity: 1; border-color: #4c4c4c; }

@media (max-width: 768px){
    .post-block {width: 100%; margin-bottom: 25px;}
    a.older-post {margin-bottom: 50px; width: 100%; padding: 12px 12px;}
	.additional-posts .post-block{width: 100%;  float: none;}
	.bg-image{display:inline-block;position:relative;width:100%;}
	.list-layout .post-left, .list-layout .post-right{margin-bottom: 30px;}
	.list-layout .post-left .post-block.post-info{left: 0%;}
	.list-layout .post-left .post-block{right: 0%;}
	.list-layout .post-info .post-link{display:inline-block;margin-bottom:10px;}
	.list-layout .post-info .full-p{margin-bottom: 30px;}
	
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 10 - ABOUT ME */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.about-info {text-align: center;} 

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 11 - SIMILAR POST*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
.similar-post{margin-top:75px;}
.similar-post h3{font-weight: 600; font-size:22px;letter-spacing: 5px;text-transform:uppercase;text-align:center;margin-bottom:45px;}
.similar-post .image{margin-bottom:25px;}
@media (max-width: 1680px){
	.similar-post h3{font-size:17px;}
}
@media (max-width: 1450px){
	.similar-post h3{font-size:13px;}
}

@media (max-width: 1199px){
	.similar-post h3{font-size:22px;}
}
@media (max-width: 768px){
	.similar-post h3{font-size: 28px;margin-bottom: 28px;}
}

.similar-head {
	margin-bottom: 40px !important;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 12 - CONTENT BLOCK */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.two-columns {margin-right: -50px; margin-left: -50px;}
.two-columns .main-block{padding-right: 50px;padding-left: 50px;}
.content-block{font-weight: 300; font-size:18px;line-height:32px;color:#333333;}
.content-block .title{color:#4c4c4c;letter-spacing: 5px;}
.content-block p{margin-bottom:25px;}
.content-block h1{font-weight: 600; font-size:38px;line-height:42px;padding-top:25px;padding-bottom:40px;letter-spacing: 5px;text-transform:uppercase;}
.content-block h2{font-weight: 600; font-size:38px;padding-top:10px;padding-bottom:20px;letter-spacing: 5px;text-transform:uppercase;}
/*typography*/
.content-block h3{font-weight: 600; font-size:38px;padding-bottom:20px;}
.content-block h4{font-weight: 600; font-size:28px;padding-bottom:10px;}
.content-block h5{font-weight: 600; font-size:26px;padding-bottom:10px;}
.content-block h6{font-weight: 600; font-size:22px;padding-bottom:10px;}
.content-block h6{font-weight: 600; font-size:22px;padding-bottom:10px;}
.content-block h7{font-weight: 600; font-size:16px;padding-bottom:10px;letter-spacing: 3px;text-transform:uppercase;}
.content-block blockquote{font-weight: 600; font-size:26px;line-height:32px;margin-bottom:25px;}
.content-block .list-unordered{font-weight: 600; font-size:18px;line-height:42px;margin-bottom:20px;list-style-type: none;}
.content-block .list-unordered li:before{content: "- "}
.content-block .list-ordered{font-weight: 600; font-size:18px;line-height:42px;margin-bottom:20px;list-style-type: none;}
.content-block .list-ordered li:before {content: counter(section, decimal-leading-zero) ") ";}
.content-block .list-ordered li { counter-increment: section;}
.content-block .img-50{width:50%;max-width:350px;margin-right:20px;float:left;}
.soundcloud{margin-bottom:25px;}
/*gallery*/
.gallery{position:relative;margin-bottom: 28px;}
.gallery .pagination{display:none;}
.gallery .image{margin-bottom:0px;}
.gallery .center-image{width: 99%;}
.gallery .arrow-left,.gallery .arrow-right{position:absolute;top:50%;left:20px;display:block;width:35px;height:35px;margin-top:-20px;color:#fff;border:3px solid #fff;-webkit-border-radius: 35px;-moz-border-radius: 35px;border-radius: 35px;cursor:pointer;text-align:center;}
.gallery .arrow-left:hover,.gallery .arrow-right:hover{color:#99a8b8;border:3px solid #99a8b8;}
.gallery .arrow-right{left:auto;right:20px;}
.gallery .arrow-left .fa{position:absolute;top:50%;left:50%;margin-left:-8px;margin-top:-8px;}
.gallery .arrow-right .fa{position:absolute;top:50%;left:50%;margin-left:-5px;margin-top:-8px;}
.gallery .swiper-slide{position:relative;}
.gallery .gallery-desc{position:absolute;bottom:0px;left:1px;width:99%;background:rgba(255, 255, 255, 0.5);}
/*form-block*/
.form-block{}
.form-block .row{margin-right: -50px;margin-left: -50px;}
.form-block [class*="col-"]{padding-right: 50px;padding-left: 50px;}
.form-block .form-group{margin-bottom: 65px;}
.form-block .form-point{position:absolute;right:25px;top:8px;}
.form-block .form-input{width:100%;height:45px;font-weight: 300; font-size:18px;line-height:45px;color:#595959;border:1px solid #99a8b8;padding:0px 12px; background-color:#fefefe;}
.form-block .form-input:focus{-webkit-box-shadow: 0px 0px 7px 2px rgba(153, 168, 184, 0.25);-moz-box-shadow:    0px 0px 7px 2px rgba(153, 168, 184, 0.25);box-shadow:         0px 0px 7px 2px rgba(153, 168, 184, 0.25);}
.form-block .form-input::-webkit-input-placeholder {font-weight: 300; font-size:18px;line-height:45px;color:#595959;}
.form-block .form-input:-moz-placeholder {font-weight: 300; font-size:18px;line-height:45px;color:#595959;filter: alpha(opacity=100);}
.form-block .form-input::-moz-placeholder {font-weight: 300; font-size:18px;line-height:45px;color:#595959;filter: alpha(opacity=100);}
.form-block .form-input:-ms-input-placeholder {font-weight: 300; font-size:18px;line-height:45px;color:#595959;}
.form-block textarea.form-input{height:205px;}
.form-block .form-submit{float:left;font-weight: 600; font-size:14px;line-height:16px;background:transparent;color:#4c4c4c;border:2px solid #99a8b8;text-transform:uppercase;padding: 11px 107px;}
.form-block .form-submit:hover{border:2px solid #4c4c4c;}
@media (max-width: 1734px) {
	.two-columns .main-block .additional-posts .title{font-size: 25px;line-height: 25px;}
}

@media (max-width: 1450px) {
	.two-columns .main-block .additional-posts .title{font-size: 20px;line-height: 20px;}
}


@media (max-width: 1199px) {
	.two-columns {margin-right: -30px; margin-left: -30px;}
	.two-columns .main-block{padding-right: 30px;padding-left: 30px;}
}

@media (max-width: 991px) {
	.two-columns .main-block .additional-posts .title{font-size: 25px;line-height: 25px;}
}

@media (max-width: 450px) {
    .form-block .form-submit{width:100%;padding: 11px 0px;text-align:center;}
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 13 - SIDEBAR */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.two-columns .sidebar {padding-right: 50px;padding-left: 50px;}
.sidebar { text-align: center; margin-bottom: 100px; overflow: hidden; } 
.sidebar .post-tag { margin-bottom: 50px; } 
.sidebar .social{ display: block; margin-bottom: 100px; } 
.sidebar .social i { background: none; font-size: 28px; width: 13%; text-align: center; padding: 0; } 
.about { margin-bottom: 100px; } 
.about p{ font-size: 18px; color: #333333; line-height: 28px;font-weight: 300; } 
.about a { color: #99a8b8; font-weight: 600;  display: inline-block; margin-top: 10px; } 
.about a:hover { color: #000; } 
.p-tags { margin-bottom: 100px; } 
.p-tags a{ color: #99a8b8; background: #ccd3db; padding: 18px 19px; margin-bottom: 15px; margin-left: 8px; display: inline-block; position: relative; text-transform: uppercase; font-weight: 600;  float: left;  }
.p-tags a:hover { color: #000; } 
.p-tags a:after { content: ''; display:block;border-bottom: 59px solid #ccd3db; border-right: 4px solid transparent; position: absolute; top:0; left: 100%; } 
.borderless .p-tags a:after{display:none;}
.p-posts { margin-bottom: 100px; } 
.popular { margin-bottom: 37px; } 
.popular .image { width: 130px; display: inline-block; float: left; margin-right: 20px; margin-bottom: 0; } 
.popular .post-tag{ text-align: left; margin-top: 10px; margin-bottom: 10px; font-size: 18px; letter-spacing: 1px; } 
.popular .post-tag a{color:#4C4C4C;}
.popular .post-tag a:hover{color:#000;}
.popular .full-p { text-transform: none; text-align: left; font-size: 13px; margin-bottom: 0; } 
.popular:last-child { margin-bottom: 0; } 
.categories { margin-bottom: 85px; } 
.categories h4{ text-transform: uppercase; color: #4c4c4c; padding-bottom: 16px; border-bottom: 1px dashed #9f9f9f; margin-bottom: 40px; text-align: left; font-weight: 600;  } 
.categories h4:last-child { margin-bottom: 0; } 
.banner { background: #efefef; height: 380px; width: 100%; position: relative; padding-top: 160px; } 
.banner:after { content: ''; background: #fff; width: 25px; right: -12px; top: 0; height: 100%; position: absolute; -webkit-transform: skewx(2deg); }
.borderless .banner:after{display:none;}
.banner h3 { text-transform: uppercase; color: #fff; font-size: 38px; font-weight: 600;  letter-spacing: 4px; }
@media (min-width:992px) and (max-width: 1440px) {
	.p-tags a{padding: 15px 11px;}
	.p-tags a:after{border-bottom: 53px solid #CCD3DB;}	
} 
@media (max-width: 1199px) {
    .two-columns .sidebar {padding-right: 30px;padding-left: 30px;}

}
@media (max-width: 768px){
    .follow-me .social {margin-bottom: 50px;}
    .about {margin-bottom: 50px;}
    .p-tags {margin-bottom: 50px;}
    .p-post {margin-bottom: 50px;}
    .categories {margin-bottom: 50px;}
    .categories h4 {margin-bottom: 25px;}
    .sidebar {margin-bottom: 50px;}
    .content {margin-bottom: 0;}
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 14 - INSTAGRAM */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.instagram { margin-bottom: 1px; text-transform: uppercase; text-align: center; } 
.instagram h3 { font-size: 28px; line-height: 28px; color: #4c4c4c; margin-bottom: 55px; } 
.instagram span { font-weight: 600;  }
.im-instagram { width: 100%; height: auto; border: 1px solid #fff; } 
.instagram .pagination { display: none; } 

@media (max-width: 768px){
	.instagram h3 {font-size: 25px;}
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 15 - FOOTER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.footer { background: #b0becc; padding: 60px 20px 20px; text-align: center;  } 
.top-footer { border-bottom: 1px dashed #fff; } 
.footer-nav { display: inline-block; float: left; } 
.footer-nav li { display: inline-block; } 
.footer-nav a { color: #fff; text-transform: uppercase; padding: 0 12px; font-size: 14px; } 
.footer-nav a:hover { color: #4c4c4c; } 
.footer-social { display: inline-block; float: right; font-size: 16px; margin-bottom: 60px; } 
.footer-social i { padding: 8px; } 
.footer-social a { color: #fff; } 
.footer-social i:hover { color: #4c4c4c; } 
.footer-logo { display: block; margin-top: 150px; margin-bottom: 160px; } 
.footer-logo .logo { margin-bottom: 0; } 
.copyright { color: #fff; font-size:14px; text-align: center;  } 
@media (max-width: 991px) {
    .footer-nav {display: block; margin-bottom: 20px;}
    .footer-nav a {font-size: 22px;}
    .footer-social {display: block; float:none; font-size: 22px;}
    .footer-social i {padding: 14px;}
}
@media (max-width: 768px){
    .footer {padding: 25px 20px 20px;}
    .footer-social i {width: 30%; margin-bottom: 25px; font-size: 24px;}
    .footer-social {margin-bottom: 0;}
    .footer-logo {margin-top: 50px; margin-bottom: 50px;}
    .footer-logo img {max-width: 75%}
}
@media (min-width: 1000px){
.blog-full .image:after {
  width: 40px;
  right: -21px;
}
}
@media (min-width: 1919px) {
	.image:after {
  width: 70px;
  right: -39px;
}
.blog-full .image:after {
  width: 180px;
  right: -126px;
}

}

blockquote {
    font-style: italic; 
    padding: 20px 30px; 
    border-left: 8px solid #000; 
    background-color: #f3f3f3;
}

.grid-title {
	margin-bottom: 15px !important;
}

.grid-tag {
	margin-bottom: 15px !important;
}

.grid-date {

}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* CSS ANIMATIONS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
li.menu>a, .search input, .dropdown a, .search img, .menu-button span, .menu-open, .read-article, .arrows p,
.social i, .about a, .p-tags a, a.older-post, .footer-social i,
.footer-nav a, .menu .dropdown,.post-block .image .layer,#configurator,.search{-moz-transition:all 400ms ease-out; -o-transition:all 400ms ease-out; -webkit-transition:all 400ms ease-out; transition:all 400ms ease-out; -ms-transition:all 400ms ease-out;}
@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0;-webkit-transform: translate3d(0, 3000px, 0);transform: translate3d(0, 3000px, 0);}
  60% {opacity: 1;-webkit-transform: translate3d(0, -20px, 0);transform: translate3d(0, -20px, 0);}
  75% {-webkit-transform: translate3d(0, 10px, 0);transform: translate3d(0, 10px, 0);}
  90% {-webkit-transform: translate3d(0, -5px, 0);transform: translate3d(0, -5px, 0);}
  100% {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0;-webkit-transform: translate3d(0, 3000px, 0);-moz-transform:translate3d(0, 3000px, 0);-o-transform:translate3d(0, 3000px, 0);transform: translate3d(0, 3000px, 0);}
  60% {opacity: 1;-webkit-transform: translate3d(0, -20px, 0);-moz-transform:translate3d(0, -20px, 0);-o-transform:translate3d(0, -20px, 0);transform: translate3d(0, -20px, 0);}
  75% {-webkit-transform: translate3d(0, 10px, 0);-moz-transform:translate3d(0, 10px, 0);-o-transform:translate3d(0, 10px, 0);transform: translate3d(0, 10px, 0);}
  90% {-webkit-transform: translate3d(0, -5px, 0);-moz-transform:translate3d(0, -5px, 0);-o-transform:translate3d(0, -5px, 0);transform: translate3d(0, -5px, 0);}
  100% {-webkit-transform: translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}

@-webkit-keyframes animLoadedHeader {99% { -webkit-transform: translate3d(0,-200%,0) }  100% {-webkit-transform: translate3d(0,-200%,0);display: none;}}
@-moz-keyframes animLoadedHeader {99% { -moz-transform: translate3d(0,-200%,0)} 100% {-moz-transform: translate3d(0,-200%,0);display: none;}}
@-o-keyframes animLoadedHeader {99% { -o-transform: translate3d(0,-200%,0)} 100% {-o-transform: translate3d(0,-200%,0);display: none;}}
@keyframes animLoadedHeader {99% { -webkit-transform: translate3d(0,-200%,0); -moz-transform: translate3d(0,-200%,0); -o-transform: translate3d(0,-200%,0); transform: translate3d(0,-200%,0);} 100% { -webkit-transform: translate3d(0,-200%,0); -moz-transform: translate3d(0,-200%,0); -o-transform: translate3d(0,-200%,0); transform: translate3d(0,-200%,0);display: none;}}

@-webkit-keyframes animLoadedContent {from { opacity: 0; -webkit-transform: translate3d(0,200px,0); }}
@keyframes animLoadedContent {from { opacity: 0; -webkit-transform: translate3d(0,200px,0); -moz-transform: translate3d(0,200px,0);  -o-transform: translate3d(0,200px,0); transform: translate3d(0,200px,0); }}

@-webkit-keyframes animCircus {0% {stroke-dashoffset: 360px;stroke-dasharray: 360px;}  100% {stroke-dashoffset: 0px;stroke-dasharray: 360px;}}
@-moz-keyframes animCircus {0% {stroke-dashoffset: 360px;stroke-dasharray: 360px;} 100% {stroke-dashoffset: 0px;stroke-dasharray: 360px;}}
@-o-keyframes animCircus {0% {stroke-dashoffset: 360px;stroke-dasharray: 360x;} 100% {stroke-dashoffset: 0px;stroke-dasharray: 360px;}}
@keyframes animCircus {0% {stroke-dashoffset: 360px;stroke-dasharray: 360px;} 100% { stroke-dashoffset: 0px;stroke-dasharray: 360px;}}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* CONFIGURATOR */
/*-------------------------------------------------------------------------------------------------------------------------------*/
#configurator{position:fixed;top:50%;left:0px;width:50px;height:50px;margin-top:-25px;font-size:15px;line-height:50px;text-align:center;z-index:1000;}
#configurator.active{left:100px;}
#conf-button{font-size:25px;background:#f9f9f9;cursor:pointer;border: 1px #e7e7e7 solid;border-left: none;-webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;z-index:500;}
#conf-styles{position:absolute;top:0px;right: 49px;border: 1px solid #e7e7e7;z-index:-1;background:#f9f9f9;width:100px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-bottomright: 5px;border-bottom-right-radius: 5px;}
#conf-styles div{font-weight: bold; }
#conf-styles span{display:block;color: #99a8b8;cursor:pointer;}
#conf-styles span.active{font-weight: bold; color: #4c4c4c;}s