// =============================================================================
//  Border Radius
// =============================================================================

@mixin border-radius($radius,  $clip: padding-box) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
	-webkit-background-clip: $clip;
	-moz-background-clip: $clip;
	-o-background-clip: $clip;
	background-clip: $clip;
}
