// BUTTONS
@mixin button($grad-start, $grad-end) {
	display:inline-block;
	padding:8px 20px;
	color:$text-white;
	line-height:1;
	text-align:center;
	line-height: 1;
    font-family: $base__font;
    font-weight: 700;
    text-transform: uppercase;
    height: auto;
    padding: 12px 20px;
    background: $darkerBrandGold;
    color: $white;
    border: solid 1px $darkerBrandGold;
    position: relative;
    overflow: hidden;
    outline: none;
    text-shadow: none;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    max-width: 100%;
	@include rem("font-size", $base__font-size);
    @include transition(all, 0.5s, ease-out);
    @include border-radius(2px);
	text-shadow:2px 1px 3px rgba(0,0,0,0.7);
	@include background-image(linear-gradient($grad-start, $grad-end));
	border:1px solid lighten($grad-start, 30%);
	@include border-radius(4px);

	&:hover {
		// Need some sort of hover style?!
		color:#fff;
	}

	&:active {
		position:relative;
		top:1px;
		@include background-image(linear-gradient($grad-end, $grad-start));
	}
}

