footer {
    height: auto;
    color: $white;
    background-color: $accentBlue;
    overflow: hidden;
    padding: $base__line;
    width: 100%;
    border-bottom: 50px solid $active;
    .footer_info {
        border-right: 2px solid $accentBlue;
        h3 {
            color: $white;
            padding-bottom: $base__line / 4;
            &:first-of-type {
                float: left;
                padding-right: $base__line / 4;
            }
        }
        .user {
            float: left;
        }
        h5 {
            padding-bottom: $base__line / 2;
            font-family: $base__font;
        }
    }
    .right_links {
        padding-bottom: $base__line * 0.75;
    }
    .second-row {
        padding-top: $base__line;
    }
    .social {
        background-color: $white;
        height: 40px;
        width: 40px;
        padding: 9px;
        display: table;
        text-align: center;
        border-radius: 20px;
        float: left;
        margin-right: $base__line / 2;
        i {
            display: table-cell;
            vertical-align: middle;
            font-size: 1.3em;
        }
        .fa-twitter {
            color: $twitter;
        }
        .fa-facebook {
            color: $facebook;
        }
        .fa-youtube-play {
            color: $youtube;
        }
        .fa-linkedin {
            color: $linkedin;
        }
    }
    a {
        font-family: $base__font-medium;
        color: $white;
        padding-right: $base__line;
        &:visited {
            color: $white;
        }
    }
}

.reg {
    h3 {
        color: $white;
        padding-bottom: $base__line;
    }
    p {
        padding-bottom: $base__line / 2;
    }
}
