.top_bar {
    background-color: $accentBlue;
    color: #ffffff;
    height: auto;
    overflow: hidden;
    width: 100%;
    a {
        color: #fff;
        outline: 0;
    }
}

.nav_tab {
    float: left;
    display: table;
    padding: $base__line * 0.75;
    text-align: right;
    outline: none;
    &:hover {
        text-decoration: underline;
        background-color: $active;
    }
    &.active {
        background-color: $active;
        a {
            color: $white;
        }
    }
    a {
        display: table-cell;
        vertical-align: middle;
    }
}

.nav_img {
    @include border-radius(100px);
    border: 1px solid $black;
    margin-right: $base__line / 2;
    vertical-align: middle;
    width: 70%;
    margin-bottom: $base__line / 2;
    @include breakpoint(small) {
        width: 75px;
    }
}

.nav_content {
    background-color: $white;
    height: auto;
    overflow: hidden;
    a {
        color: $black;
    }
    li {
        border-bottom: 1px solid $black;
        margin: $base__line / 4;
        text-align: center;
        @include breakpoint(small) {
            border-bottom: none;
            border-right: 1px solid $black;
            margin: $base__line / 2;
            text-align: start;
        }
    }
}

.tools_sub_menu {
    h4 {
        padding: $base__line;
        color: $black;
    }
    .digital_tools {
        border-bottom: 1px solid $black;
        padding-bottom: $base__line;
    }
}

.mid_bar {
    height: auto;
    padding-top: $base__line;
    padding-bottom: $base__line;
    overflow: hidden;
    h5 {
        width: 25%;
        font-family: $base__font-bold;
        margin-left: $base__line / 2;
        margin-top: $base__line * 0.75;
        float: left;
        color: $accentBlue;
    }
    img {
        float: left;
    }
}

.search_input {
    height: auto;
    overflow: hidden;
    margin-top: $base__line * 0.75;
    background-color: #fff;
    @include box-shadow(1px, 1px, 3px, #C7C7C7, inset);
    input[type='text'] {
        @include box-shadow(1px, 1px, 3px, #C7C7C7, inset);
        width: 80%;
        padding-left: $base__line / 2;
        outline: none;
        border: none;
        height: 50px;
        @include breakpoint(small) {
            width: 88%;
        }
    }
    i {
        float: right;
        color: $white;
        @include rem("font-size", $base__font-size * 1.4);
        padding-left: 15px;
        padding-top: $base__line / 2;
        width: 20%;
        height: 50px;
        background-color: $active;
        @include breakpoint(small){
            width: 12%;
        }
    }
}

.explore_sub_menu, .tools_menu {
    background-color: $active;
    display: none;
    height: auto;
    overflow: hidden;
    padding: 0px;
    position: relative;
    margin: auto;
    width: 70%;
    z-index: 2000;
    .sub_menu {
        padding: $base__line / 2;
        height: auto;
        overflow: hidden;
        .col-sm-12 {
            padding-left: 0px;
            padding-right: 0px;
            @include breakpoint(large) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.region_date_cont {
    #countryChoice {
        background-color: $background;
        border: none;
        float: right;
        margin-top: 18px;
        outline: none;
        width: auto;
    }
    div {
        clear: both;
        i {
            color: $accentBlue;
            float: right;
            font-size: 1.4em;
            p {
                font-family: $base__font-bold;
                color: $black;
                padding-left: $base__line / 2;
                float: right;
            }
        }
    }
}

.sideBar {
    list-style: none;
    padding: 0;
    li {
        @include transition(all, 0.3s, ease-out);
        padding: $base__line / 2;
        background-color: $background;
        border-bottom: 1px solid #000;
        &:hover {
            background-color: $accentBlue;
            color: $white;
        }
        &.active {
            background-color: $accentBlue;
            color: $white;
        }
    }
}
