.btn {
    @include rem("font-size", $base__font-size);
    @include transition(all, 0.5s, ease-out);
    @include border-radius(2px);
    background: $fountain_blue;
    border: solid 1px $fountain_blue;
    color: $white;
    cursor: pointer;
    height: auto;
    line-height: 1.3;
    max-width: 100%;
    outline: none;
    display: block;
    overflow: hidden;
    padding: 25px 20px;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    text-shadow: none;
    text-transform: capitalize;
    vertical-align: middle;
    &:visited {
        color: $white;
    }
    &:hover,
    &:active {
        color: $white;
        background: $morning_glory;
        border-color: $morning_glory;
    }
}

.button_cont {
    width: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: $base__line * 1.25;
    @include breakpoint (medium){
        width: 50%;
        margin-bottom: 0px;
    }
}

.footer_btn {
    background: $active;
    clear: both;
    display: block;
    width: 50%;
    margin-top: $base__line / 2;
    &:hover,
    &:active {
        color: $active;
        background: $background;
        border-color: $background;
    }
}

.load_more {
    background: $accentBlue;
    border: solid 1px $accentBlue;
    clear: both;
    color: $white;
    display: block;
    margin: auto;
    text-align: left;
    width: 250px;
    i {
        float: right;
    }
    &:hover,
    &:active {
        color: $white;
        background: $active;
        border-color: $active;
    }
}

.pill {
    @include transition(all, 0.3s, ease-out);
    @include border-radius(50px);
    background-color: $turqAccent;
    color: $white;
    cursor: pointer;
    float: left;
    font-size: 14px;
    margin: 0px $base__line / 4 $base__line / 4 0px;
    padding: $base__line / 4;
    padding: $base__line / 4 $base__line / 2 $base__line / 4 $base__line / 2;
    text-align: center;
    &:hover,
    &:active {
        color: $white;
        background: $turqDark;
        border-color: $turqDark;
    }
}